<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts" version="1.0.5680.18392" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="GraphX" version="3.0.0" targetFramework="net472" />
  <package id="Gu.Wpf.DataGrid2D" version="0.2.3" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="QuickGraphCore" version="1.0.0" targetFramework="net472" />
</packages>